<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>WAY-D</name>

    <description>
        The WAYNIUM Drivers app.
    </description>

    <author email="support@waynium.com" href="http://waynium.com">
        WAYNIUM
    </author>

    <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="fullscreen" value="true" />
    <content src="index.html" />

    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-android-permissions" spec="1" />
    <plugin name="cordova-plugin-geolocation" spec="~4">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="This app always requires location tracking to inform passengers of your position" />
    </plugin>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="28" />
        <allow-intent href="market:*" />
        <uses-permission name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <plugin name="@mauron85/cordova-plugin-background-geolocation@~3.0.3">
            <variable name="GOOGLE_PLAY_SERVICES_VERSION" value="11+" />
            <variable name="ANDROID_SUPPORT_LIBRARY_VERSION" value="24+" />
            <variable name="ICON" value="@mipmap/icon" />
            <variable name="SMALL_ICON" value="@mipmap/icon" />
            <variable name="ALWAYS_USAGE_DESCRIPTION" value="This app always requires location tracking to inform passengers of your position" />
            <variable name="MOTION_USAGE_DESCRIPTION" value="This app requires motion detection" />
        </plugin>
    </platform>

</widget>
